/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

ul,
li {
  @apply mb-5;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li {
  @apply mb-2 leading-7 text-gray-700;
}

p {
  @apply text-gray-700 leading-7 font-normal mb-5;
}

@responsive {
  .container {
    width: 650px;
    margin: auto;
  }
  .w-900 {
    width: 900px;
  }
}
